* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
  overflow: hidden;
  position: relative;

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
  
    background-image: url("../assets/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    /* efeito */
    filter: blur(30px);
    transform: scale(1.05);
  
    z-index: -1;
  }

.container {
    width: 100%;
    max-width: 850px;
    background: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

.topo {
    background: linear-gradient(135deg, #2563eb, #0f172a);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.logo {
    font-size: 55px;
    margin-bottom: 10px;
}

.topo h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.topo p {
    opacity: 0.8;
    font-size: 15px;
}

form {
    padding: 35px;
}

.card {
    background: #f8fafc;
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #e2e8f0;
}

.card h2 {
    margin-bottom: 20px;
    color: #0f172a;
    font-size: 22px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 8px;
    color: #334155;
    font-weight: bold;
    font-size: 14px;
}

.input-group input {
    padding: 14px;
    border: 2px solid #dbeafe;
    border-radius: 12px;
    font-size: 15px;
    transition: 0.3s;
    background: white;
}

.input-group input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.2);
}

.full {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.btn-primary,
.btn-secondary {
    padding: 14px 28px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary {
    background: #2563eb;
    color: white;
}

.btn-primary:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

.btn-secondary {
    background: #e2e8f0;
    color: #0f172a;
}

.btn-secondary:hover {
    background: #cbd5e1;
}

@media (max-width: 768px) {

    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    form {
        padding: 20px;
    }

    .topo h1 {
        font-size: 25px;
    }

}